[submodule "src/vendor/golang.org/x/crypto"]
	path = src/vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "src/vendor/playground/log"]
	path = src/vendor/playground/log
	url = https://github.com/morrildl/playground-log
[submodule "src/vendor/playground/config"]
	path = src/vendor/playground/config
	url = https://github.com/morrildl/playground-config
[submodule "src/vendor/playground/apiclient"]
	path = src/vendor/playground/apiclient
	url = https://github.com/morrildl/playground-apiclient
